* {
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}