<!DOCTYPE html>
html(lang="en")
    head
        title Cell-o-Mata by János Szüdi
        meta(name="description" content="Cell-o-Mata")
        include _metas.pug
        
        link(rel="stylesheet" href="cellomata.min.css")

    body
        h1 Cell-o-Mata

        #cc
            canvas#c
        
        script(src="cellomata.min.js")